@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}
:root {
    --white: rgb(247, 247, 247);
    --black: rgb(14, 14, 14);
}
a {
    text-decoration: none;
    color: var(--black);
}
h1 {
    font-family: 'Cabin', sans-serif;
    color: var(--red);
}
nav {
    background-color:var(--white);
    height: 70px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 99;
}
.nav-wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(3px);
}
.nav-logo > a > img {
    width: 150px;
}
.nav-links {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links > a {
    position: relative;
}
.nav-links > a:first-child::before {
    display: none;
}
.nav-links > a::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -24px;
    bottom: 0;
    height: 100%;
    width: 2px;
    background-color: var(--black);
}
.nav-links > a::after {
    content: '';
    display: inline-block;
    bottom: -7px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--black);
    transition: all 0.3s ease;
    position: absolute;
}
.nav-links > a:hover:after, .nav-links > a:nth-child(2)::after {
    width: 100%;
    left: 0;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 50px 0;
}
.hero > h1 {
    font-size: 4rem;
}
.hero > img {
    width: 80px;
}
.grid-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 2000px;
}
.grid {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* background-color: blue; */
}
.grid > a > div {
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.grid > a > div > * {
    color: var(--white);
}
.grid > a > div > img {
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    position: absolute;
    margin: auto;
    filter: brightness(20%);
    z-index: -1;
    min-width: 1200px;
    width: 100%;
    transition: .3s ease;
}
.grid > a > div:hover > img {
    filter: brightness(40%);
}
.grid > a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} 
.grid > a > div > h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
