.nav-links > a:nth-child(1)::after {
    width: 100%;
    left: 0;
}
.grid-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 2000px;
}
.grid {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* background-color: blue; */
}
.grid > a > div {
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.grid > a > div > * {
    color: var(--white);
}
.grid > a > div > img {
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    position: absolute;
    margin: auto;
    filter: brightness(20%);
    z-index: -1;
    min-width: 1200px;
    width: 100%;
    transition: .3s ease;
}
.grid > a > div:hover > img {
    filter: brightness(40%);
}
.grid > a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} 
.grid > a > div > h1 {
    font-size: 50px;
    margin-bottom: 20px;
}